<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/resource/layui-v2.5.6/layui/css/layui.css">

    <script src="/resource/layui-v2.5.6/layui/layui.js"></script>
    <script src="/resource/jquery.js"></script>
</head>
<body>
<table class="layui-hide" id="test" lay-filter="test"></table>
</body>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">新增、修改</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['table', 'layer'], function () {
        var table = layui.table,
            layer = layui.layer;

        //展示已知数据
        table.render({
            elem: '#test'
            , page: true
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , height: 'full-10'
            , url: '/finance/list'
            , parseData: function (resp) {
                return {
                    "code": 0,
                    "msg": "",
                    "count": 1000,
                    data: resp
                }
            }
            , cols: [[ //标题栏
                {field: 'id', title: 'ID', width: 80, sort: true, hide: true}
                , {field: 'financeName', title: '财务单名称', width: 300}
                , {field: 'financeProject', title: '财务单项目', minWidth: 150}
                , {field: 'financeClass', title: '财务单类别', minWidth: 160}
                , {field: 'financePrice', title: '财务单金额', width: 80}
                , {field: 'createby', title: '负责人', width: 100}
                , {field: 'create', title: '创建时间', width: 80, sort: true}
                , {field: 'updateTime', title: '修改时间', width: 80, sort: true}
            ]]
            , even: true
            ,limits: [20, 40, 60]
            ,limit: 20 //每页默认显示的数量
        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var msg = "";
            switch (obj.event) {
                case 'getCheckData':
                    //Ajax获取
                    layer.open({
                        type: 2,
                        area: ['700px', '600px'],
                        title: '出入账单新增、修改'
                        , content: '/finance/to-edit',
                        btn: ['提交', '取消']
                        , btn1: function (index, layero) {
                            $.ajax({
                                url: "/finance/do-edit",
                                data: window["layui-layer-iframe" + index].callbackdata(),
                                type: "Post",
                                dataType: "json",
                                success: function (data) {
                                    msg = data;
                                    table.reload('test', {
                                        page: {
                                            curr: 1 //重新从第 1 页开始
                                        }
                                    });
                                    location.reload();
                                },
                                error: function (data) {
                                    msg = data;
                                }
                            });
                            /*$.post("/finance/do-edit", window["layui-layer-iframe" + index].callbackdata(),
                                function (data, status) {
                                    alert("数据: \n" + data + "\n状态: " + status);
                                });

                            //最后关闭弹出层
                            window.location.reload();*/
                            layer.close(index);
                        },
                        btn2: function (index, layero) {
                            window.location.reload();
                            layer.close(index);
                        },
                        cancel: function (layero, index) {
                            window.location.reload();
                            layer.closeAll();
                        }

                    });
                    layer.msg(msg);
                    break;
            };
        });

    });

</script>
</html>