<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/resource/layui-v2.5.6/layui/css/layui.css">

    <script src="/resource/layui-v2.5.6/layui/layui.js"></script>
    <script src="/resource/jquery.js"></script>
</head>
<body>
<table class="layui-hide" id="test" lay-filter="test"></table>
</body>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">新增</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;

        //展示已知数据
        table.render({
            elem: '#test'
            , page: true
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , height: 'full-10'
            , url: '/finance/list'
            , parseData: function (resp) {
                return {
                    "code": 0,
                    "msg": "",
                    "count": 1000,
                    data: resp
                }
            }
            , cols: [[ //标题栏
                {field: 'id', title: 'ID', width: 80, sort: true, hide: true}
                , {field: 'financeName', title: '财务单名称', width: 300}
                , {field: 'financeProject', title: '财务单项目', minWidth: 150}
                , {field: 'financeClass', title: '财务单类别', minWidth: 160}
                , {field: 'financePrice', title: '财务单金额', width: 80}
                , {field: 'createby', title: '负责人', width: 100}
                , {field: 'create', title: '创建时间', width: 80, sort: true}
                , {field: 'updateTime', title: '修改时间', width: 80, sort: true}
            ]]/*,
            done: function () {
                $("[data-field = 'id']").css('display', 'none')
            }*/
            /*, data: [{
                "id": "10001"
                , "username": "杜甫"
                , "email": "xianxin@layui.com"
                , "sex": "男"
                , "city": "浙江杭州"
                , "sign": "人生恰似一场修行"
                , "experience": "116"
                , "ip": "192.168.0.8"
                , "logins": "108"
                , "joinTime": "2016-10-14"
            }]*/
            //,skin: 'line' //表格风格
            , even: true
            //,page: true //是否显示分页
            //,limits: [5, 7, 10]
            //,limit: 5 //每页默认显示的数量
        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    //Ajax获取
                    $.post('/finance/to-edit', {}, function (str) {
                        window.parent.ru(str);
                    });
                    break;

            }
            ;
        });

    });

</script>
</html>