<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/resource/layui-v2.5.6/layui/css/layui.css">

    <script src="/resource/layui-v2.5.6/layui/layui.js"></script>
    <script src="/resource/jquery.js"></script>
</head>
<body>
<form id="form" class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">财务单名称</label>
        <div class="layui-input-block">
            <input type="text" name="financeName" required lay-verify="required" placeholder="请输入财务单名称"
                   autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">财务单项目</label>
        <div class="layui-input-block">
            <input type="text" name="financeProject" required lay-verify="required" placeholder="请输入财务单项目"
                   autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">财务单类别</label>
        <div class="layui-input-block">
            <input type="radio" name="financeClass" title="入账" value="0" checked>
            <input type="radio" name="financeClass" title="出账" value="1">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">财务单金额</label>
        <div class="layui-input-block">
            <input type="text" name="financePrice" required lay-verify="required" placeholder="请输入财务单金额"
                   autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">负责人</label>
        <div class="layui-input-block">
            <input type="text" name="createby" required lay-verify="required" placeholder="请输入负责人" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建时间</label>
        <div class="layui-input-inline">
            <input type="text" name="create" readonly="readonly"
                   class="layui-input">
        </div>
        <label class="layui-form-label">修改时间</label>
        <div class="layui-input-inline">
            <input type="text" name="updateTime" readonly="readonly"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea style="height: 30%" name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
</form>

<script>
    //JavaScript代码区域
    layui.use('form', function () {
        var form = layui.form;
    });

    layui.use('laydate', function () {
        var laydate = layui.laydate;
    });

    var callbackdata = function () {
        var obj = {};//给obj分配内存
        var form_data = $("#form").serializeArray();
        for (var i = 0; i < form_data.length; i++) {
            if (form_data[i]['value'].length != 0) {
                obj[form_data[i].name] = form_data[i]['value'];
            }
        }
        return JSON.stringify(obj);
    }
</script>
</body>
</html>